    <nav>
        <ul class='nav'>
            <li><a href="/" title="Home Page" class="btn btn-link btn-sm">Home Page</a></li>
            <li><a href="/authors" title="View Authors" class="btn btn-link btn-sm">Authors</a></li>
            <li><a href="/authors/new" title="Add Author" class="btn btn-link btn-sm">Add Author</a></li>
            <li><a href="/books" title="View Books" class="btn btn-link btn-sm">Books</a></li>
            <li><a href="/books/new" title="Add Books" class="btn btn-link btn-sm">Add Book</a></li>
        </ul>
    </nav>